<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" href="index.html">Project LIB</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <% if user_signed_in? %>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Name of Authorized User">
        <a class="nav-link" href="Name of Authorized User.html">
          <i class="fa fa-fw fa-area-chart"></i>
          <span class="nav-link-text"><%= current_user.email %></span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Catalogue Management">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
          <i class="fa fa-fw fa-sitemap"></i>
          <span class="nav-link-text">Catalogue Management</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseMulti">
          <li>
            <%= link_to "Create Book Entry", new_book_path, remote: true, id: "createBtn" %>
          </li>
          <!--li>
            <a id="editBtn" data-toggle="modal" href="#editModal">Edit Book Entry</a>
          </li-->
          <li>
            <a id="deleteBtn" href="#">Delete Book Entry</a>
          </li>
        </ul>
      </li>
    <% else %>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Log In">
            <%= link_to(new_user_session_path, class: "nav-link") do %>
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Log In</span>
          <% end %>
        </li>
    <% end %>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="About">
        <a class="nav-link" href="#">
          <i class="fa fa-fw fa-link"></i>
          <span class="nav-link-text">About</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= form_tag(books_path, method: :get, class: "form-inline my-2 my-lg-0 mr-lg-2") do %>
          <div class="btn-group btn-group-md">
            <%= select_tag :search_key, options_for_select(["Title", "Author"]), class: "form-control" %>
          </div>
          <span class="input-group-append">
            <%= text_field_tag :term, params[:term], class: "form-control", placeholder: "Search for..." %>
            <span class="input-group-append">
              <%= button_tag(name: nil, class: "btn btn-primary") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </span>
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Logout">
          <%= link_to(destroy_user_session_path, class: "nav-link", method: :delete) do %>
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Logout</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<!--
# Author: Anjelo Jurquina
# This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2017-2018.

# Code History:
# Nicko Pangarungan
# 02/23/18
# Sprint 2

# Comments
# 02/23/18
# Group 3
# Recoletas Chapel
#
-->
